      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <img class="logo" src="/images/Gladlibs.png">
          <br><br>
          <h1 class="header center orange-text">Where The Craziest Stories Begin</h1>
          <br>
          <div class="row center">
            <a href="/quickplay" class="btn-large waves-effect waves-light orange">Quick Play</a>
          </div>
          <br>
          <p class="center">OR</p>
          <br>
          <h5 class="header center orange-text">Choose from our Stories</h1>
          <br>
          <div class="row center">
            <a href="/story/1" id="category1" class="btn-large waves-effect waves-light orange">Personal Ad</a>
            <a href="/story/2" id="category2" class="btn-large waves-effect waves-light orange">Sick Note</a>
            <a href="/story/3" id="category3" class="btn-large waves-effect waves-light orange">How to Wash Your Face</a>
          </div>
        </div>
      </div>
      <br><br><br><br>



      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>
