<div class="container">
    <div class="row">
        <div class="input-field col s4 myUsernameField">
            <input id="userName" placeholder="Username" type="text" class="validate">
            <label for="userName"></label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s4 myPasswordField">
            <input id="Password" placeholder="Password" type="text" class="validate">
            <label for="Password"></label>
        </div>
    </div>

    <div class="row">
        <a id="login" type="submit" class="waves-effect waves-light btn">Login</a>
        <a id="signup" type="submit" class="waves-effect waves-light btn" href="/api/sign-up">Sign-Up</a>
    </div>
</div>